.nav {
	grid-column: 1/span 12;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: $heading-font-family;

	&__logo {
		display: block;
		text-decoration: none;
	}

	&__link--wrap li {
		list-style: none;
		display: inline;
	}

.nav__link {
	text-decoration: none;
	}

}
