.btn {
	display: inline-block;
	font-size: 0.875rem;
	font-weight: $bold;
	letter-spacing: 1px;
	line-height: 1.6;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.5rem 1.25rem;
	transition: $transition-time;

	&:hover, &:active, &:focus {
		cursor: pointer;
		text-decoration: none;
		outline: none;
	}
}

.btn--primary {
	color: $color-primary;
	background-color: transparent;
	border: 2px solid $color-primary;
	border-radius: $button-radius;

	&:hover, &:active, &:focus {
		color: $white;
		background-color: $color-primary;
	}
}

.btn--secondary {
	color: $white;
	background-color: $color-primary;
	border: 2px solid $color-primary;
	border-radius: $button-radius;

	&:hover, &:active, &:focus {
		color: $white;
		background-color: lighten($color-primary, 5%);
		border-color: lighten($color-primary, 5%);
	}
}
