.burger {
	width: 20px;
	height: 2px;
	background-color: $black;
	position: relative;
	cursor: pointer;
	z-index: 5;

	&:before, &:after {
		content: "";
		display: block;
		width: 20px;
		height: 2px;
		background-color: $black;
		position: absolute;
	}

	&:before {
		top: -4px;
	}

	&:after {
		top: 4px;
	}

	&--active {
		background: transparent;
	}

	&--active:before {
		background-color: $white;
		top: 0;
		transform: rotate(45deg);
	}

	&--active:after {
		background-color: $white;
		top: 0;
		transform: rotate(-45deg);
	}
}
