.form {

	.form__field {
		margin-bottom: 1.5rem;
	}

	.form__label {
		display: block;
		color: $color-gray;
		font-size: 0.75rem;
		text-transform: uppercase;
		margin-bottom: 0.25rem;
	}

	.form__input,
	.form__textarea {
		color: $black;
		border: 1px solid $color-gray--light;
		border-radius: $button-radius;
		font-size: 1rem;
		resize: none;
		padding: 0.625rem 1.25rem;
		transition: $transition-time;

		&:focus {
			border-color: $color-primary;
    	outline: 0;
  	}
	}

	.form__btn {
		margin-top: 2.5rem;
	}
}
