.about {
	grid-column: 1/span 8;
	height: calc(100vh - 14rem);
	max-width: 90%;

	.about__img--wrap {
		display: flex;
		align-items: center;
	}

	.about__img {
		display: block;
		width: 30%;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.quote__img {
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	object-fit: cover;
	position: absolute;
	bottom: 20%;
    right: 60%;
}
