.services {
	grid-column: 1/span 12;
	display: flex;
	flex-direction: column;

	@include breakpoint ($large) {
		grid-column: 1/span 8;
	}

	.service__item--wrap {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;

		@include breakpoint ($large) {
			margin-top: 3rem;
		}
	}

	.service__item {
		width: 100%;
		margin-bottom: 2rem;

		@include breakpoint ($large) {
			width: 50%;
			margin-bottom: 1.5rem;
		}
	}

	.service__info {
		display: flex;
		align-items: center;

		h3 {
			font-size: 1.125rem;
			font-weight: $light;
			text-transform: uppercase;
			margin-bottom: 0;
			margin-left: 2rem;

			@include breakpoint ($large) {
				font-size: 1.5rem;
			}
		}
	}

	.service__img {
		width: 4rem;
		height: 4rem;
	}

	.service__desc {
		max-width: 20rem;
		margin-top: 1.25rem;

		@include breakpoint ($large) {
			margin-top: 1rem;
			margin-bottom: 1.5rem;
			margin-left: 6rem;
			padding-right: 3rem;
		}
	}

	.btn--primary {
		align-self: center;
		margin-bottom: 3rem;

		@include breakpoint ($large) {
			margin-bottom: 0;
		}
	}
}
