/* NAVIGATION */

.nav--style-guide {
	border-bottom: 1px solid $color-gray--light;
	padding-left: 1.25rem;
	padding-right: 1.25rem;

	@include breakpoint ($medium) {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	@include breakpoint ($large) {
		padding-left: 6rem;
		padding-right: 6rem;
	}

	.nav__logo {
		color: $black;
		font-family: $heading-font-family;
		
		&:hover, &:active, &:focus {
			color: rgba($black, 0.8);
		}
	}
}


/* SECTION */

.main--style-guide {
	height: auto;
}

.section--style-guide {
	grid-column: 1/span 12;
	margin: 6.25rem 4rem;

	.section__title {
		display: inline-block;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}

	code {
		font-size: 0.875rem;
		margin-left: 2rem;
	}

	.section__desc {
		display: flex;
		justify-content: space-between;

		p {
			width: 45%;
		}
	}
}


/* COLORS */

.color--wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 16%;

	span {
		display: block;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.color {
		width: 4rem;
		height: 4rem;
	}

	.color--primary {
		background-color: $color-primary;
	}

	.color--white {
		background-color: $white;
	}

	.color--gray-light {
		background-color: $color-gray--light;
	}

	.color--gray {
		background-color: $color-gray;
	}

	.color--gray-dark {
		background-color: $color-gray--dark;
	}

	.color--black {
		background-color: $black;
	}
}


/* FOOTER */

.footer--style-guide {
	@extend .grid;

	height: auto;
	border-top: 1px solid $color-gray--light;
	padding-top: 1.25rem;
	padding-bottom: 1.75rem;
}
